<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!--<add name="[nombremodelo]" connectionString="server=[url-servidor];
         database=[nombredatabase];uid=[user];password=[password];"
         providerName="System.Data.SqlClient" />-->
    <add name="BDHospitalVSFundamentals" connectionString="data source=ML-RefVm-247616;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="BD_HospitalVSFundamentalsEntities" connectionString="metadata=res://*/Data.BDHospitalVSFundamentals.csdl|res://*/Data.BDHospitalVSFundamentals.ssdl|res://*/Data.BDHospitalVSFundamentals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ML-RefVm-247616;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--<add name="BDHospitalVSFundamentals" connectionString="data source=DESKTOP-TV575S0;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

    
    
  <!--<add name="BD_HospitalVSFundamentalsEntities" connectionString="metadata=res://*/Data.BDHospitalVSFundamentals.csdl|res://*/Data.BDHospitalVSFundamentals.ssdl|res://*/Data.BDHospitalVSFundamentals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TV575S0;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  
</configuration>