<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <!--<add name="[nombremodelo]" connectionString="server=[url-servidor];
         database=[nombredatabase];uid=[user];password=[password];"
         providerName="System.Data.SqlClient" />-->
    <!--  <add name="BDHospitalVSFundamentals" connectionString="data source=ML-RefVm-247616;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="BD_HospitalVSFundamentalsEntities" connectionString="metadata=res://*/Data.BDHospitalVSFundamentals.csdl|res://*/Data.BDHospitalVSFundamentals.ssdl|res://*/Data.BDHospitalVSFundamentals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ML-RefVm-247616;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BDHospitalVSFundamentals" connectionString="data source=200.48.96.34\DESARROLLO;initial catalog=BD_HospitalVSFundamentals;User ID=sa;Password=A12345$;" providerName="System.Data.SqlClient" />
    <add name="BD_HospitalVSFundamentalsEntities" connectionString="metadata=res://*/Data.BDHospitalVSFundamentals.csdl|res://*/Data.BDHospitalVSFundamentals.ssdl|res://*/Data.BDHospitalVSFundamentals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=200.48.96.34\DESARROLLO;initial catalog=BD_HospitalVSFundamentals;User ID=sa;Password=A12345$;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->

    <add name="BDHospitalVSFundamentals"
      connectionString="data source=DESKTOP-TV575S0\lacr1;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient"/>
    <add name="BD_HospitalVSFundamentalsEntities"
      connectionString="metadata=res://*/Data.BDHospitalVSFundamentals.csdl|res://*/Data.BDHospitalVSFundamentals.ssdl|res://*/Data.BDHospitalVSFundamentals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TV575S0\lacr1;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="HospitalVSFundamentals.UI.Forms.Properties.Settings.BD_HospitalVSFundamentalsConnectionString"
      connectionString="Data Source=DESKTOP-TV575S0\lacr1;Initial Catalog=BD_HospitalVSFundamentals;Integrated Security=True"
      providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <!--<add name="BDHospitalVSFundamentals" connectionString="data source=DESKTOP-TV575S0;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

    
    
  <!--<add name="BD_HospitalVSFundamentalsEntities" connectionString="metadata=res://*/Data.BDHospitalVSFundamentals.csdl|res://*/Data.BDHospitalVSFundamentals.ssdl|res://*/Data.BDHospitalVSFundamentals.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TV575S0;initial catalog=BD_HospitalVSFundamentals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
</configuration>